.sidebar{
    display: flex;
    flex: 1;
    border-style: solid;
    border-color: skyblue;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 12%;
    height: 100vh;
}
.text{
    font-size: x-large;
    font-weight: bold;
    padding-left: 3%;
}